/*********************
* Color
*********************/
.bg-color--keycolor {
  background-color: #f39800;
}
.bg-color--subcolor {
  background-color: #ea5550;
}
.bg-color--gray {
  background-color: #e6e6e6;
}
